• Double check online or on ChatGPT for recommended Python version for desired package to be installed.
• Download and install Anaconda. Make sure Jupyter Notebook gets installed.
• Install pip and conda. Confirm versions: conda install pip conda >> pip --version >> conda --version
• Create new environment: conda create --name <custom Qiskit Metal enviroment name> python=3.9 (or other recommended Python version)
• Access the new Qiskit Metal environment, proceed with installing desired packages and their dependencies: conda activate <custom Qiskit Metal environment name>
• Install ipykernel. Create custom kernel using ipykernel: conda install -c conda-forge ipykernel >> python -m ipykernel install --user --name=<name of custom kernel>
• Install Git: conda install git -y
• Install Visual Studio Installer from online >> install Visual Studio Community (Check the boxes on the right-side panel or under the Individual Components tab & be sure to select Windows 10 or 11 SDK). Select the C++ options on the Universal Windows Platform development box as well, including the Desktop Development with C++. [pip install gdspy won't be able to build wheels without an updated Visual Studio or Visual Studio Build Tools].
• Upgrade pip: python -m pip install --upgrade pip setuptools wheel
• Run a script to install directly from the GitHub URL: pip install git+https://github.com/qiskit-community/qiskit-metal (not the git URL)
___________________________________________________________________________
• To add darkmode manually to Qiskit Metal, type (pip install qdarkstyle).
• To update Qiskit Metal, type (pip install --upgrade qiskit_metal).
• If the install is bringing up an error, be sure to restart entire system.

addict==2.4.0
descartes==1.1.0
gdspy==1.6.12
geopandas==0.12.2
ipython==8.10.0
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3
pint==0.20.1
pyEPR-quantum==0.8.5.7
pygments==2.14.0
pyside2==5.15.2.1
qdarkstyle==3.1
qutip==4.7.1
scipy==1.10.0
shapely==2.0.1
scqubits==3.1.0
gmsh==4.11.1
pyaedt==0.6.46
pyyaml==6.0

